<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Library</title>
    <link rel="stylesheet" href="https://chiefwoods.github.io/footer-template/template.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script src="../public/script.js" defer></script>
  </head>

  <body>
    <main>
      <h1>Personal Library</h1>
      <hr>
      <section>
        <form id="new-book">
          <label for="title">New Book Title</label>
          <input type="text" name="title" id="title" placeholder="Moby Dick">
          <button type="submit">Add Book</button>
        </form>
        <ul id="book-list"></ul>
        <div id="detail">
          <p>Select a book to see it's details and comments</p>
        </div>
        <button id="delete-all">Delete All Books</button>
      </section>
    </main>
    <footer>
      <span class="made-by">Copyright @
        <script>document.write(new Date().getFullYear())</script> ChiefWoods
      </span>
      <a class="github-link" href="https://github.com/ChiefWoods/personal-library" target="_blank">
        <img src="./public/icons/github.svg" class="github-icon" alt="GitHub">
      </a>
    </footer>
  </body>

</html>